<div class ="nav">
    <ul>
        <li><a <%if(active=="Index" ){%>class="active"<%}%> href='/'>Home</a></li>
        <li><a href='/Yourpage'>Your Page</a></li>
        <li><a href='/Login'>Sign Up</a></li>
        <li><a href='/Events'>Events</a></li>
    </ul>
    </div>