<!--Code for the Partial of the Navigation Bar-->

<div class ="nav">
    <ul>
        <link rel="stylesheet" href="styles/navigation-bar.css">
        <li><a <%if(active=="Index" ){%>class="active"<%}%> href='/'>Home</a></li>
        <li><a <%if(active=="Yourpage" ){%>class="active"<%}%> href='/Yourpage'>Your Page</a></li>
        <li><a <%if(active=="Login" ){%>class="active"<%}%> href='/Login'>Sign Up</a></li>
        <li><a <%if(active=="Events" ){%>class="active"<%}%> href='/Events'>Events</a></li>
    </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>