.events {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    background-color: rgb(190, 190, 190);
    width: 90%;
    
    position: absolute;
    left : 50%;
    transform: translate(-50%);
}

.indivEvent{
    border : 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

.events > h1 {
    margin: 5px;
    padding: 5px;

}

.description > h2 {
    background-color: white;
    margin: 10px;
}

.description > h3{
    background-color: white;
    margin: 5px;
}