<!DOCTYPE html>

<html>
    <head>
        <title>Love for the Uglies</title>
    </head>
    <body>
<!-- Navigation -->
<nav>
    <a href="#home">Home</a>
    <a href="#yourpage">Your Page</a>
  </nav>
    </body>
</html>