<!DOCTYPE html>

<html>
    <head>
        <title>Love for the Uglies</title>
        <%- include('../partials/nav', {active: "Events"}) %>
        <link rel="stylesheet" href="styles/navigation-bar.css">
    </head>
    <body>
        <p>
            <h1>This is event</h1>
            <h2>Event description</h2>
            <h3>Location</h3>
            <h3>Time</h3>
            <h3>Price</h3>
        </p>
    </body>
</html>