<!--Code for the Home Page-->
<!DOCTYPE html>
<script>
    var Session = '<%- session %>'
</script>
<html>
    <head>
        <title>Love for the Uglies</title>
        <link rel="stylesheet" href="styles/navigation-bar.css">
        <%- include('../partials/nav', {active: "Index"}) %>
    </head>
    <body>
     <h1>Justice for Ugly Animals</h1>
     <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at lorem non felis placerat iaculis. Proin eget ante sit amet nunc tincidunt mollis. Etiam molestie massa nulla, at scelerisque orci aliquam eu. Pellentesque nec iaculis dui. Etiam faucibus neque vel cursus hendrerit. Suspendisse pharetra nibh ac ante finibus, et lacinia turpis viverra. Donec maximus massa et velit consequat consequat vel ut turpis. Mauris vulputate nulla eu suscipit porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum interdum sapien tortor, sed posuere sem aliquet vel. Aliquam erat volutpat. Maecenas egestas laoreet eros, luctus placerat arcu sodales eu. Sed molestie ligula et mi euismod venenatis. Nunc cursus nisi non lacus tincidunt, vestibulum pharetra turpis ullamcorper. Nam lectus magna, condimentum et quam ut, fringilla pellentesque massa. Mauris iaculis nulla ac justo rhoncus posuere nec a felis.
        <br>
        Suspendisse consequat augue at ornare porta. Suspendisse nisi nisi, porttitor ut facilisis tincidunt, malesuada ut risus. Aenean auctor ac felis fringilla aliquet. Ut non quam et dui eleifend tincidunt ut vitae nulla. Suspendisse potenti. Aliquam a pellentesque mi. Cras nec iaculis enim.
        <br>
        Duis et justo tristique, fringilla ex ac, eleifend quam. Mauris sed blandit erat. Quisque pharetra sapien enim, nec ornare nisi hendrerit sit amet. Proin mattis tortor tellus, ut viverra urna pharetra eu. Fusce vel ornare ante. Fusce in aliquam dui. Nunc aliquet vel erat sit amet pharetra. Proin venenatis eu metus hendrerit volutpat. Aliquam vitae mauris rutrum, maximus lectus sed, tempor diam. Sed ut dolor id ipsum finibus facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In convallis quis purus ut dictum. Nam id tellus tellus. Cras euismod vestibulum vestibulum.
        <br>
        Nulla consequat magna sit amet metus vulputate, vel vulputate dolor varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis varius viverra maximus. Praesent placerat ut quam vel tempus. Duis tincidunt semper nulla, vel gravida tellus placerat eget. Pellentesque eu dui at purus tincidunt blandit sit amet quis urna. Etiam feugiat leo vel venenatis accumsan.
        <br>
        Sed at sem malesuada, commodo risus eu, sagittis quam. Ut ultricies enim ac est elementum ornare vel ac elit. Integer a magna pulvinar, porta purus sed, tincidunt metus. Morbi consequat varius tincidunt. Vivamus fermentum sem augue, non hendrerit ex tincidunt sed. Nunc at lectus sed urna gravida varius. Nullam quis purus vel orci finibus commodo. Proin ac gravida leo. Nulla et eros nec dolor pulvinar consequat a sed ex. Ut metus magna, maximus ac ultrices nec, pellentesque ut turpis. Proin eu leo cursus, tristique sem vel, condimentum augue.</p>
    </body>
</html>