<!DOCTYPE html>

<html>
    <head>
        
        <title>Love for the Uglies</title>
        <%- include('../partials/nav', {active: "Yourpage"}) %>
        <link rel="stylesheet" href="styles/navigation-bar.css">
    </head>
    <body>
        <p>
            <header><%= page.Username %></header>
            <h1>Insert profile picture here</h1>
            <h1>Hello <%= page.Username %>!</h1>
            <h2>Your recent activity:</h2>
            <h3><%= page.InterestedEvents %></h3>
            <button type="button">Edit profile</button>
        </p>
    </body>
</html>