<!DOCTYPE html>

<html>
    <head>
        
        <title>Love for the Uglies</title>
        <%- include('../partials/nav', {active: "Yourpage"}) %>
        <link rel="stylesheet" href="styles/navigation-bar.css">
    </head>
    <body>
        <p>
            <header>Username</header>
            <h1>Insert profile picture here</h1>
            <h1>Hello username!</h1>
            <h2>Your recent activity:</h2>
            <h3>Event 1</h3>
            <h3>Event 2</h3>
            <h2>Edit profile</h2>
        </p>
    </body>
</html>